<%= erb :_progress_nav, locals: { steps: steps } %>
<%= erb :_flashes, locals: { flashes: session[:flashes] } %>
<% session[:flashes] = nil %>
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-xl">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Migrate your ZenHub Workspace to a GitHub Project</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Migrate your Pipelines, Sprints, and Estimates to your GitHub Project.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <% if session[:workspace_url] || session[:github_url] || session[:zenhub_token] || session[:github_token] %>
        <div class="flex justify-end mb-6">
          <a href="/clear-values" class="text-sm text-gray-500 hover:text-gray-700">Clear Values</a>
        </div>
      <% end %>
      <form class="space-y-6" method="POST" action="/set-connection">
        <div>
          <label for="workspace_url" class="block text-sm font-medium text-gray-700">ZenHub Workspace URL</label>
          <div class="mt-1">
            <input id="workspace_url" name="workspace_url" type="text" required autofocus
                    value="<%= session[:workspace_url] %>"
                    placeholder="https://app.zenhub.com/workspaces/workspace-name-id"
                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label for="github_url" class="block text-sm font-medium text-gray-700">GitHub Project URL</label>
          <div class="mt-1">
            <input id="github_url" name="github_url" type="text" required
                    value="<%= session[:github_url] %>"
                    placeholder="https://github.com/orgs/owner/projects/1"
                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          </div>
        </div>

        <% unless ENV['ZENHUB_TOKEN'] %>
          <div>
            <label for="zenhub_token" class="block text-sm font-medium text-gray-700">ZenHub API Token</label>
            <div class="mt-1">
              <input id="zenhub_token" name="zenhub_token" type="password" required
                      value="<%= session[:zenhub_token] %>"
                      placeholder="zh_0123456789abcdef"
                      class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
            <p class="mt-2 text-sm text-gray-500">
              <a href="https://app.zenhub.com/settings/tokens" target="_blank" class="text-indigo-600 hover:text-indigo-500">Generate a ZenHub token</a>
            </p>
          </div>
        <% end %>

        <% unless ENV['GITHUB_TOKEN'] %>
          <div>
            <label for="github_token" class="block text-sm font-medium text-gray-700">GitHub API Token</label>
            <div class="mt-1">
              <input id="github_token" name="github_token" type="password" required
                      value="<%= session[:github_token] %>"
                      placeholder="ghp_0123456789abcdefghijklmnopqrstuvwxyz"
                      class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
            <p class="mt-2 text-sm text-gray-500">
              <a href="https://github.com/settings/tokens" target="_blank" class="text-indigo-600 hover:text-indigo-500">Generate a classic GitHub token</a> with <code>project</code> access
            </p>
          </div>
        <% end %>

        <div>
          <button type="submit" 
                  class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                  data-disable-with="Querying Issues..."
                  onclick="showLoadingMessage()">
            View Pipelines
          </button>
        </div>

        <p id="loading-message" class="mt-2 text-sm text-gray-500 text-center hidden">
          Large projects will take longer to load.
        </p>
      </form>

      <script>
        function showLoadingMessage() {
          document.getElementById('loading-message').classList.remove('hidden');
        }
      </script>
    </div>
  </div>
  <div class="mt-8 text-center">
    <a href="https://github.com/ericboehs/z2g-ui" target="_blank" class="text-sm text-gray-500 hover:text-gray-900 inline-flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
      </svg>
    </a>
  </div>
</div>
